h1 {
  background: #bfbfbf;
  width:400px;}
  
ul {
  list-style-type:square;
}

span {
  color:#696969;
}

h2{
  border-color:#5F9EA0;
  background:#B0E0E6;
  width:50px;
}

.a{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 5px double
  #333333;
}

.b{
  padding: 5px;
  margin-bottom: 5px;
  border: 5px double
  #333333;
}

body {
   background-color: #f4f4f4;
}

#a-box {
  border:black 400px ;
}
