html{
  background-image:linear-gradient(#FFF0F5 15%,#FFFACD 35%,#F0F8FF);
  color:black;
  font-size:16px;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1,h2{
  color:	#5507FF;
  font-size: 45px;
  line-height:45px;
  margin-top: 20px;
  font-family: monospace;
  text-shadow: 2px 4px rgba(0, 0, 0, .3);
}

img[src]{
  width:550px;
  height: 350px;
  border-radius:20px;
  border:7px solid black;
  margin-bottom: 15px;
  margin-top: 0px;
  box-shadow: 10px 20px 7px rgba(0, 0, 0, .4);
  }

a:link{color:black}
a:visited{color:#9933FF}
a:hover{color:#663399}
a:active{color:#11FFFF}

footer{
  background: #F0F8FF;
}
