html{
  background-image:linear-gradient(#FFF0F5 20%,#FFFACD 40%,#F0F8FF);
  color:black;
  font-size:16px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

h1,h2{
  color:	#5507FF;
  font-size: 45px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: monospace;
  text-shadow: 2px 4px rgba(0, 0, 0, .3);
}

ul{
  list-style-type: none;
  }

img{
  border-radius:20px;
  border:7px solid black;
  margin-bottom: 15px;
  box-shadow: 10px 20px 7px rgba(0, 0, 0, .4);
  }
#egg{
  width: 500px;
  height: 350px;
}
#Mayu{
  width: 340px;
  height: 460px;
  -webkit-transform:translateX(100px);
  
}

a:link{color:black}
a:visited{color:#9933FF}
a:hover{color:#663399}
a:active{color:#11FFFF}
